$global-color: #3A3A3A;
$global-link-color: #4F1060;
$global-link-color-active: #4F1060;
$global-primary-background: #ffd842;

@import "frontend/scss/base_theme.scss";

.uk-background-primary-top-header {
	@extend .uk-dark !optional;
}

.prl-content {
	
	.paginator {
		border: none !important;
		
		a:link, a:visited { 
			background-color: $global-primary-background !important;
			color: #333 !important;
			padding: 10px 18px;
		}
	}
	
}